.home-page{
      background: radial-gradient(rgb(225, 244, 225), rgb(111, 208, 111)
      );
    height: 91vh;
}
#Bakg{
    margin-top: 2em;
    height: 40em;
    width: 100%;
}
.home-text{
   position: absolute;
  top: 4.2%;
  left: 0;
  width: 100%;
  height: 40em;
  color: rgb(245, 246, 243);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  background:rgba(51, 88, 42, 0.4) ;
  box-sizing: border-box;
 }
.home-text p{
    font-size: 40px;
    font-weight: bold;
    padding-left: 2em;
    color: rgb(247, 249, 247);
}
 .services-heading {
 background: radial-gradient(rgb(100, 150, 100), rgb(211, 237, 211)
      );
      height: 65em;
 }
.services-heading h2{
    text-align: center;
    padding-top: 2em;
    font-size: 30px;
    font-weight: bold;
    color: rgb(83, 19, 19);
}




.services{
   display: flex;
   flex-wrap: wrap;
    gap: 3rem;
     margin-left: 4em;
}
.servi-img{
   transition: transform 0.5s ease;
}
.servi-img:hover{
      transform: scale(1.08);
}
.servi-img:active{
   transform: scale(1.2);
}
.servi-img{
  height:12em ;
  width: 12em;
  border-radius: 50%;
  background: radial-gradient(white,rgb(176, 221, 176));
  padding-left: 1em;
  padding-top: 1em;
  margin-left: 2em;
  margin-top: 3em;
}

.fou1 {
  height: 10em;
    width: 10em;      /*20/*/
  object-fit: cover;
  border-radius: 50%;     /*5px/*/
  transition: transform 0.3s ease;
  cursor: pointer;
}

#name{
  padding-top: 1em;
font-size: 25px;
font-weight: bold;
color: rgb(245, 241, 241);
}

.foun-img{
   position: absolute;
  top: 50.9em;
  width: 15em;
  height: 15em;
  color: rgb(245, 246, 243);
   padding: 2.5em;
   
  display: flex;
  justify-content: space-between;
  align-items: center; 
    flex-direction: column;
  background:rgba(45, 83, 35, 0.4) ;
  box-sizing: border-box;
  border-radius: 50%;         /*5px/*/
}
.foun2-img{
   position: absolute;
  top: 51em;
  width: 15em;
  height: 15em;
  color: rgb(245, 246, 243);
   padding: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center; 
    flex-direction: column;
  background:rgba(36, 73, 27, 0.4) ;
  box-sizing: border-box;
  border-radius: 50%;  
}
.founc2-img{
   position: absolute;
  top: 84.1em;
  width: 28em;
  height: 15.1em;
  color: rgb(245, 246, 243);
   padding: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center; 
    flex-direction: column;
  background:rgba(138, 208, 120, 0.4) ;
  box-sizing: border-box;
  border-radius: 5px;  
}

 .Service-line{
   height: 2px;
width: 6em;
background-color: #242222;
margin-left: 44em;
margin-top: 1em;
 }
.what-line{
  height: 2px;
width: 6em;
background-color: #242222;
margin-left: 44em;
margin-top: 1em;
}
.what-grib{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 5em;
  margin-left: 15em;
}
#whth2{
  padding-top: 5em;
  font-size: 30px;
  color: #242222;
  /* padding-left: 25em; */
}
.what-center{
    height: 20em;
  width: 20em;
  
  background: radial-gradient(white,rgb(214, 245, 214));
  padding: 2rem;
  border-radius: 10px;
  
}
.store{
  font-size: 3rem;
  color: #027002;
  margin-left: 2em;
}
#reth3{
  font-size: 20px;
  font-weight: bold;
  color: #242222;
}
#reth22{
  font-size: 20px;
  font-weight: bold;
  color: #242222;
  padding-left: 4em;
}
#reth1{
  font-size: 20px;
  font-weight: bold;
  color: #242222;
  padding-left: 4.5em;
}
#wecpar{
  font-size: 17px;
  color: #3a3838;
  padding-top: 1em;
  
}



.container {
  padding-top: 2px;
}
.arrow-box11 {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  gap: 0.6rem;
   padding-left: 5em;
   padding-top: 10px;
}

.arrow-icon11 {
  font-size: 1rem;
  transition: transform 0.25s ease;
  text-decoration: none;
  z-index: 2;
}

.read-article11 {
  opacity: 0;
  transform: translateX(-100px);
  transition: transform 0.35s ease 0.25s, opacity 0.35s ease 0.25s;
  white-space: nowrap;
  z-index: 1;
  font-size: 1rem;
  position: relative;
   text-decoration: none;
}


.arrow-box11:hover .arrow-icon11,
.arrow-box11:active .arrow-icon11 {
  transform: translateX(6px) scale(1.2);
   color: rgb(2, 39, 57);
   
}

.arrow-box11:hover .read-article11,
.arrow-box11:active .read-article11 {
  opacity: 1;
  transform: translateX(0);
   color: rgb(6, 55, 116);
   
}

.plant-icon{
  background: radial-gradient(rgb(184, 233, 184),rgb(208, 243, 208));
  height: 60em;
}
#iconp{
  width:65em;
  height: 30em;
  border-radius: 10px;
  margin-left: 15em;
  margin-top: 4em;
}




@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes spinReverse {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

.gear2 {
  position: absolute;
  border-radius: 50%;
  border: 5px solid #c8c8c5;
  transform: translate(-50%, -50%);
}

.tooth-wrapper2 {
  position: absolute;
  width: 100%;
  height: 100%;
  
}

.tooth2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  top: -5px;
  width: 2em;
  height: 2em;
  border: 2px solid rgb(252, 251, 251);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooth-icon2 {
  font-size: 1.2em;
  color: rgb(181, 184, 181);
}
.tooth-wrapper2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform-origin: center center;
}

 .plan-text-grib{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* margin-top: 1rem; */
 }



.plan-text1{
  /* flex: 1; */
  /* min-width: 300px; */
  height: 20em;
  width: 30em;
  margin-left: 15em;
  background: #f1ecec;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 2em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
#whyh2{
  font-size: 35px;
  color: rgb(69, 66, 66);
}
#whypar{
  padding-top: 1em;
  font-size: 1rem;
  color: #474745;
}
.continuebtn {
  margin-top: 1.5rem;
  background-color: #027002;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.continuebtn:hover {
  background-color: #1a1e7a;
}



.sol-heading {
  font-size: 1.8rem;
  color: #4b4f4b;
  /* text-align: center; */
  margin-bottom: 1rem;
}

.sol-paragraph {
  display: flex;
  align-items: flex-start;
  gap: 0.6rem;
  margin-bottom: 0.8rem;
  font-size: 17px;
  color: #3a3838;
  line-height: 1.6;
}

.leaf-icon {
  color: #4caf50;
  flex-shrink: 0;
  margin-top: 0.2rem;
}
.plan-text2{
 
  height: 26em;
  width: 38em;

  background: #f2ebeb;
 
   padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.dupi-plan{
  position: absolute;
  top: 145em;
  left: 44em;
  width: 38em;
  height: 10em;
  color: rgb(245, 246, 243);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
 
  box-sizing: border-box;
}
.home-slide-bg{
  background: radial-gradient(white,rgb(183, 233, 183));
  height: 40em;
}
#reth2{
  padding-top: 2em;
  text-align: center;
  font-size: 30px;
  color: #3a3838;
}
#retpar{
  font-size: 18px;
  color: #242222;
  text-align: center;
  padding: 2rem;
}
.ret-line{
  height: 2px;
  width: 7em;
  background-color: #4b4f4b;
  margin-left: 44em;
  margin-top: 6px;
}
.men-grib{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-left: 15em;
  
}
#menS{
  height: 20em;
  width: 20em;
  border-radius: 5px;
  border: 1px solid rgb(207, 207, 207);
}
#menS3{
   height: 20em;
  width: 20em;
  border-radius: 5px;
  padding: 15px;
  /* margin-top: 3em; */
border: 1px solid rgb(207, 207, 207);
}

/* ------------- */
.scroll-sheet{
background: radial-gradient(white,rgb(193, 239, 193));
  height: 30em;

}
#scorh2{
  padding-top: 2em;
  /* padding-bottom: 1em; */
 text-align: center;
   color:rgb(49, 48, 48);
 font-size: 30px;
 font-weight: bold;
}
.scroll-line{
height: 2px;
width: 8em;
background-color: #242222;
margin-left: 43em;
margin-top: 1em;
}
.home-scroll-page{
  width: 90rem;
  position: relative;
  overflow: hidden;
  margin-left: 3%
  
}
.home-scroll-sheet{
  width: fit-content;
  display: flex;
  gap: 1rem;
  animation: loop 9s linear infinite;


  
}
#hsc-1{
  height: 10em;
  width: 20em;
 padding: 3em;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.home-inside{
 display: flex;
 align-items: center;
 gap: 0 0.3 rem;
 padding: 0.7rem 1rem;
 /* padding: 15px; */
  height: 18em;
}
.fadeh{
  position: absolute;
  background: linear-gradient(90deg,transparent 30% , transparent 70%);
  inset: 0;
  pointer-events: none;
}


@keyframes loop{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-10%);
  }
}






.collects{
  background: radial-gradient(white,rgb(231, 246, 231));
  height: 50em;
}
.collects-grib{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-left: 12em;
    padding-top: 3em;
}
#water{
    height: 20em;
    width: 25em;
    border-radius: 5px;
}
#plaimg{
    width: 45em;
    height: 20em;
    border-radius: 5px;
}
#menimg{
  width: 45em;
    height: 20em;
    border-radius: 5px;
}
.collects-bg1{
 position: absolute;
  top: 240em;
  left: 12em;
   height: 20em;
    width: 45em;
  color: rgb(245, 246, 243);
  padding: 4em;
  background:rgba(10, 73, 94, 0.834) ;
  box-sizing: border-box;
  border-radius: 5px;
}
.collects-bg2{
 position: absolute;
  top: 240em;
  left: 58em;
   height: 20em;
    width: 25em;
  color: rgb(245, 246, 243);
  padding: 4em;
  background:rgba(91, 106, 13, 0.834) ;
  box-sizing: border-box;
  border-radius: 5px;
}
.collects-bg3{
 position: absolute;
  top: 261.2em;
  left: 12em;
   height: 20em;
    width: 25em;
  color: rgb(245, 246, 243);
  padding: 4em;
  background:rgba(106, 35, 13, 0.834) ;
  box-sizing: border-box;
  border-radius: 5px;
}
#visionh2{
    font-size: 45px;
}
#visipara{
    font-size: 17px;
    padding-top: 1.5em;
}



